**/.git
**/.vs
**/.idea
**/.cursor
**/bin
**/obj
**/TestResults
**/*.user
**/*.suo
infra/terraform/**/.terraform
infra/terraform/**/terraform.tfstate*
**/.terraform.lock.hcl
**/node_modules
**/*.md
!Libify.API/**
!Libify.Worker/**
!Libify.Domain/**
!Libify.Services/**
!Libify.Repository/**
!Libify.Infraestructure/**
