<?xml version="1.0" encoding="utf-8"?>
<!--
Perfil de publicacao via FTP para libify.elroy.com.br.
A SENHA do FTP NAO fica aqui: e salva em FTP-Producao.pubxml.user (ignorado pelo .gitignore).
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <PublishProvider>FTP</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://libify.elroy.com.br</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>true</ExcludeApp_Data>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier></RuntimeIdentifier>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpServer>ftp://ftp.elroy.com.br</FtpServer>
    <FtpPath>/wwwroot/libify</FtpPath>
    <FtpAnonymousLogin>false</FtpAnonymousLogin>
    <UserName>flaviobarbosa</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>
