<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\Libify.API.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <!--
          Defina os segredos abaixo DIRETO NO SERVIDOR (nao versionar com valores reais):
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Host=pgsql01.redehost.com.br;Port=5432;Database=libify_prod;Username=libify-admin;Password=SUA_SENHA" />
          <environmentVariable name="Jwt__Key" value="CHAVE_FORTE_COM_NO_MINIMO_32_CARACTERES" />
          <environmentVariable name="Asaas__PlatformApiKey" value="SUA_API_KEY" />
          -->
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
